mixin info(label, type, name, placeholder)
  div.form-group
    label= label
    input.form-control(type=type, name=name, placeholder=placeholder)

extends ../layout

block content
  
  h3 More Info. for apartment. will try add photos..map
  br
  p owner: #{aprt.owner}
  p rent:
    $#{aprt.price} per month.
  p more details.. #{aprt.description}



  if (user != null && user.oauthID == aprt.oauthID) || (user != null && user.email == "donwang23@gmail.com")
    a.btn(href="/apartments/#{aprt._someId}/edit", class="btn-info") Edit
    form(action="/apartments/#{aprt._someId}", method="POST")
      input(type="hidden", name="_method", value="DELETE")
      button.btn(type="submit", class="btn-danger") Delete
    br
    a.btn(href="/logout", class="btn-success", role="button") Logout n Go home
    br